.DS_Store
Podfile.lock
Pods/Pods.xcodeproj/project.pbxproj
.hgignore
Pods/*
build/*
.hg/*
docs/*
.svn/
doxygen/*
Archives/*
Documentation/
Pods/
Build/
DerivedData/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcconfig
*.xcscheme
*.xcworkspace

project.xcworkspace/
xcuserdata/ 
